<div class="cascader-menu-container">
  <ul class="outer-menu">
    <li class="outer-menu-item" id="js-address-menu">全国</li>
    <li class="outer-menu-item" id="js-time-menu">全时段</li>
    <li class="outer-menu-item" id="js-status-menu">活动进行中</li>
  </ul>

  <div class="menu-panel-dialog" id="js-menu-panel-dialog">
    <div class="menu-panel-container">
      <p class="all-items-text">所有活动</p>
      <ul class="outer-menu">
        <li class="outer-menu-item" id="js-dialog-address-menu">全国</li>
        <li class="outer-menu-item" id="js-dialog-time-menu">全时段</li>
        <li class="outer-menu-item" id="js-dialog-status-menu">活动进行中</li>
      </ul>

      <div class="menu-panel-item-container">
        <div class="menu-panel" id="js-address-panel">
          <p class="title-text">热门城市</p>
          <div class="hot-city-box"></div>
          <p class="title-text">选择省份/地区</p>
          <div class="nav-container"></div>
        </div>

        <div class="menu-panel" id="js-time-panel">
          <p class="title-text">选择活动时段</p>
          <div class="nav-container"></div>
        </div>

        <div class="menu-panel" id="js-status-panel">
          <p class="title-text">选择活动状态</p>
          <div class="nav-container"></div>
        </div>
        <div class="menu-panel-item-container-mask"></div>
      </div>
    </div>
    <div class="menu-panel-container-mask"></div>
  </div>
</div>
