textarea:focus,
input:focus {
  outline: none;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul, li {
  list-style: none outside none;
  list-style-position: inside;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.activity-search-wrap {
  position: relative;
  color: #394262;
  font-size: 14px;
}

#search-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 38px;
  line-height: 38px;
  background: #FFFFFF;
  border: 1px solid #C6C6C6;
  border-radius: 4px;
  padding-left: 23px;
  color: #394262;
  font-size: 14px;
}

.search-list {
  position: relative;
  z-index: 10;
}

.search-list_result-panel {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  display: none;
  max-height: 400px;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.selected-list {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  z-index: 1;
  max-height: 200px;
}

.selected-list .delete-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  width: 19px;
  height: 19px;
  border: 1px solid black;
  border-radius: 0;
}

.selected-list_panel {
  max-height: 400px;
  overflow-y: auto;
}

.selected-list_panel li:hover {
  cursor: pointer;
}

.my-handle {
  cursor: move;
  cursor: -webkit-grabbing;
}

.list-box {
  border: 1px solid #C6C6C6;
  border-radius: 4px;
  margin-top: 10px
}

.list-panel {
  padding: 10px 0px 20px;
}

.list_panel_item {
  position: relative;
  height: 44px;
  line-height: 44px;
  background: #FFFFFF;
  box-shadow: inset 0 -1px 0 0 #EAEDF2;
  padding: 0px 10px 0px 23px;
}

.list_panel_item:hover {
  background: #F6F6F6;
}

.list_panel_item_name {
  display: inline-block;
  width: calc(100% - 120px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  display: inline-block;
  text-align: center;
  padding: 2px 5px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  border-radius: 15px;
  cursor: pointer;
}

.button:hover {
  color: white;
  /* box-shadow: 0px 1px  */
}

.add-button {
  background: #AAE397;
  color: #417505;
}

.delete-button {
  background: #F2F4F6;
  color: #9B9B9B;
}

.selected-list_panel_item .button {
  display: none;
}

.selected-list_panel_item:hover .button {
  display: inline-block;
  color: black;
}

.popper__arrow {
  top: -6px;
  left: 50%;
  margin-right: 3px;
  border-top-width: 0;
  margin-right: 3px;
  border-top-width: 0;
  border-bottom-color: #ebeef5;
}

.draft-info {
  padding-left: 18px;
  font-size: 14px;
  font-weight: bold;
  color: #394262;
}
