<div class="home">
  <h1 class="content">content</h1>
  <h1>Page Home</h1>
  <ul class="menu">
    <li class="menu-item">
      <span data-link="todo">goto /todo</span>
    </li>
    <li class="menu-item">
      <span data-link="foo">goto /foo</span>
    </li>
    <li class="menu-item">
      <span data-link="bubblesort">goto /bubblesort</span>
    </li>
    <li class="menu-item">
      <span data-link="search_list">goto /search_list</span>
    </li>
    <li class="menu-item">
      <span data-link="cascader_menu">goto /cascader_menu</span>
    </li>
    <li class="menu-item">
      <span data-link="select-seat">goto /select-seat</span>
    </li>
    <li class="menu-item">
      <span data-link="swiper">goto /swiper</span>
    </li>
    </div>
  </ul>
</div>
