<div class="seat-app-container">
  <div class="seat-app-bg-img-preivew">
    <span class="seat-app-bg-img-preivew__rotate-button">点击旋转查看大图<img src="https://image.lingxi360.com/misc/seat/icon_xuanzhuan.png" alt=""></span>
    <div class="seat-app-bg-img-preivew_img">
      <img src="https://image.lingxi360.com/misc/seat/bg_xuanzuo.png" alt="">
    </div>
  </div>
  <div class="seat-app-header-tab"></div>
  <div class="seat-app-table-list-container"></div>
  <div class="seat-app-footer">
    <div class="seat-app-footer_shopping-car">
      <span class="total_text">总计支付</span>
      <span class="total_price">0</span>
      <span class="total_detail_btn">详情</span>
      <span class="price_confirm_btn">确认选座</span>
    </div>
  </div>
  <div class="modal shopping-car-detail-modal">
    <div class="modal-content">
      <div class="modal-body">
        <p class="shopping-car-detail_title">选座详情</p>
        <ul class="shopping-car-detail_list"></ul>
      </div>
    </div>
  </div>
  <div class="modal submit-check-modal">
    <div class="modal-content">
      <div class="modal-header">
        <p class="prompt-title">温馨提示</p>
      </div>
      <div class="modal-body">
        <p>
          您选择的<span class="has-already-selected-seats"></span>
        </p>
        <p>已被别人抢先预订了。</p>
        <p>请重新选择其他座位吧。</p>
        <span class="check-submit-button">
          确认
        </span>
      </div>
    </div>
  </div>
  <div class="modal bg-preivew-img-modal">
    <div class="modal-close">x</div>
    <div class="modal-content">
      <img src="https://image.lingxi360.com/misc/seat/bg_quanjing.jpg" alt="">
    </div>
  </div>
</div>
